.menuItem {
    font-family: 'Raleway', sans-serif;
    size: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: RGB(13, 69, 116);
}

.line {
    width: 90%;
    height: 1px;
    background: RGB(13, 69, 116);
    margin: 0 auto;
}