.Projects {
    display: flex; 
    flex-direction: column;
    background-color: rgb(252,232,236);
    font-family: 'Raleway', sans-serif;
}

.projTitle {
    margin-left: 15px;
    margin-right: 15px;
}

.projImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 90%;
}

.projInfo {
    margin-left: 15px;
    margin-right: 15px;
}

.projLinks {
    text-align: center;
}